@use '../helpers' as *;

.Cart__Weather{
    background-color: var(--color-cart);
    width: rem(106);
    height: rem(176);
    border-radius: rem(12);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: rem(20);

    @media(max-width: 940){
        width: rem(90);
    }

    @media(max-width: 830){
        width: rem(106);
    }

    @media(max-width: 570){
        min-width: rem(70);
        flex-shrink: 0;
    }
}